@font-face {
  font-family: "font-text";
  src: url(../assets/font/Menlo-Regular.ttf);
  }

:root {
  --f-title: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --f-text: "font-text";
  --grey-text: #667392;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--f-title);
  font-weight: 400;
}


p, span, i, li{
  font-family: var(--f-text);
  color: var(--grey-text);
}

/* Body */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Main */
main{
  width: 800px;
  /* background: yellowgreen; */
  min-height: 100vh;
}

section{
  padding: 20px;
}

/* Header section */
.s-header{
  /* background-color: violet; */
  display: flex;
  justify-content: space-between;
}
.s-header h1{
  font-size: 2rem;
}

.s-header h2{
  font-size: 1rem;
}


.cont-img-header{
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-header img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 20px;
}

.s-header ul{
  display: flex;
  list-style: none;
  gap: 5px;
  margin-top: 20px;
  padding-left: 0;
}

.s-header ul a{
  background-color: white;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 4px 4px;
  border: 1px solid rgb(199, 195, 195);
  border-radius: 5px;
  transition: 0.3s background-color ease;
}

.s-header ul a:hover{
  background-color:rgb(199, 195, 195);
}


/* Responsive */
@media (max-width: 880px) {
  .s-header{
    flex-direction: column-reverse;
    text-align: center;
  }
  .s-header div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  }
  
/* Bio section */

/* Work section and Education section */

.s-work article > div,
.s-study article > div {
  background-color: none;
}

.s-work h4, .s-study h4 {
  margin-bottom: 3px;
}

.s-work h3 .s-study h3{
  margin-bottom: 1px;
}

.s-work a, .s-study a{
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.s-work a:hover, .s-study a:hover{
  color: black;
  text-decoration: underline;
}

.s-work .cont-name-work, .s-study .cont-name-study{
  display: flex;
  justify-content: space-between;
}

/* Project section */
.s-project article {
  background-color: yellowgreen;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.s-project article > div{
  background-color: violet;
  padding: 10px 10px;
}

.s-project .project-header{
  background-color: lightsalmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-project .project-header span{
  width: 10px;
  height: 10px;
  background-color: rgb(2, 101, 2);
  border-radius: 50%;
  display: block;
  animation: show 1s infinite alternate;
}

@keyframes show {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
